%div{:style => "background: #fff; color: #000;"}
  .container
    .row.u-padding-top-md.text-md-center
      .col-md-6.u-padding-top-lg
        .row
          .col-md-12.u-margin-bottom-sm
            %h1.u-margin-bottom-xxs{:style => "font-weight: 600;"} The complete DevOps platform
            %h3.u-margin-bottom-xxs{:style => "font-weight: 400;"} One application with endless possibilities. Organizations rely on GitLab’s source code management, CI/CD, security, and more to deliver software rapidly.
        .row.u-margin-bottom-xs
          .col-md-12.u-margin-bottom-0
            = link_to "Try GitLab for FREE", "/free-trial/", class: "btn cta-btn orange" 
            = link_to "See a demo", "https://about.gitlab.com/demo/", class: "btn cta-btn btn-light"
    
      .col-md-5.col-md-offset-1
        %picture
          %source{media: "(max-width: 959px)", srcset: "/images/home/gitlab-home-header-mobile.png"}
          %img{src: "/images/home/gitlab-home-header-desktop.png", alt: "Dev Ops platform", loading: "lazy", style: "max-height: 600px;"}


%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}

<script src="/javascripts/home.js" type="text/javascript" data-cookieconsent="ignore"></script>
